{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="">
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-12 text-center pr-2 pl-md-2">
                <h2 class="text-red home-logo">Odds & Ends</h2>    
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="text-center mb-2">
        <h2>Who Are We</h2>
        <p>Some text here</p>
    </div>
    <hr class="">
    <div class="row d-flex justify-content-center mb-5 mt-5">
        <div class="col-12 col-md-7 col-lg-4 text-right pr-0 pr-md-5">
            <div class="">
                <h3 class="mb-3">Customers</h3>
                <p>What do we offer our customers</p>
                <br>
                <p>Information on cases and wines in stock</p>
                <br>
                <p>Cases only </p>
                <p><a class="btn" href="{% url 'cases' %}">Buy Our Cases!</a></p>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-3">
            <img src="{{ MEDIA_URL }}customers_image.jpg" class="img-fluid" alt="A group of people drinking wine">
        </div>
    </div>
    <hr class="">
    <div class="row d-flex justify-content-center mb-5 mt-5">
        <div class="col-12 col-md-5 col-lg-3">
            <img src="{{ MEDIA_URL }}wineries_image.jpg" class="img-fluid" alt="A pair of hands holding a bunch of grapes">
        </div>
        <div class="col-12 col-md-7 col-lg-4 pl-0 pl-md-5">
            <div class="">
            <h3 class="mb-3">Wineries</h3>
            <p>What do we want from wineries and how to get in touch.</p>
            <br>
            <p>If you would like us to buy your stock let us know.</p>
            <br>
            <p>We would love to hear from you.</p>
            <p><a class="btn" href="{% url 'contact' %}">Contact Us!</a></p>
            </div>
        </div>
    </div>
    <hr class="">
    <div class="row d-flex justify-content-center mb-5 mt-5">
        <div class="col-12 col-md-7 col-lg-4 text-right pr-0 pr-md-5">
            <div class="">
                <h3 class="mb-3">Suppliers</h3>
                <p>We work with suppliers from all over the world.</p>
                <br>
                <p>This is reflected in the stock we hold.</p>
                <br>
                <p>If you're a seasoned wine drinker or just starting out, we have something for all tastes!</p>
                <p><a class="btn" href="{% url 'wines' %}">Browse Our Wines!</a></p>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-3">
            <img src="{{ MEDIA_URL }}suppliers_image.jpg" class="img-fluid" alt="A photo of a selection of wine bottles">
        </div>
    </div>
</div>

{% endblock %}