html {
   height: 100%;
}

body {
    height: calc(100vh - 164px);
    color:black;
}

.header-container {
    padding-top: 25px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}



