<ul class="mt-3">
  <li class="list-inline-item dropdown">
      <a class="nav-link d-block d-lg-none text-red" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="text-center">
              <div><i class="fas fa-glass-cheers fa-lg"></i></div>
              <p class="my-0 ">My Account</p>
          </div>
      </a>
      <div class="dropdown-menu" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
            <a href="{% url 'add_wine' %}" class="dropdown-item text-red">Add Wine</a>
            <a href="{% url 'add_case' %}" class="dropdown-item text-red">Add Case</a>
        {% endif %}
            <a href="" class="dropdown-item text-red">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item text-red">Sign Out</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item text-red">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item text-red">Sign In</a>
        {% endif %}
      </div>
  </li>
  <li class="list-inline-item">
      <a class="{% if grand_total %}text-primary {% else %}text-black{% endif %} nav-link d-block d-lg-none text-red" href="{% url 'view_bag' %}">
          <div class="text-center">
              <div><i class="fas fa-wine-bottle fa-lg"></i></i></div>
              <p class="my-0">
                  {% if grand_total %}
                      £{{ grand_total|floatformat:2 }}
                  {% else %}
                      £0.00
                  {% endif %}
              </p>
          </div>
      </a>
    </li>
  </ul>