{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}

<div class="container">
    <div class="row">
        <div class="col">
            <hr class="heading-form-rule">
            <h2 class="mb-4">{% trans "Password Reset" %}</h2>
            <hr class="heading-form-rule">
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
            </p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="{% trans 'Reset My Password' %}" />
            </form>

            <p>{% blocktrans %}Please <a href="{{ url 'contact' }}">contact us</a> if you have any trouble resetting
                your password.{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock %}