{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Register" %}{% endblock %}

{% block inner_content %}

<div class="container mb-5">
  <div class="row">
    <div class="col">
      <hr class="heading-form-rule">
      <h2 class="mb-4">{% trans "Register" %}</h2>
      <hr class="heading-form-rule">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>{% blocktrans %}Already have an account? Then please <a class="text-red" href="{{ login_url }}">sign
          in</a>.{% endblocktrans %}</p>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit">{% trans "Register" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}