{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}
    <hr class="heading-form-rule">
    <h2 class="mb-4">{% trans "Verify Your E-mail Address" %}</h2>
    <hr class="heading-form-rule">

    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please <a href="{% url 'account_login' %}">Contact Us</a> if you do not receive it within a few minutes.{% endblocktrans %}</p>

{% endblock %}
