{% extends "base.html" %}
{% load static %}

{% block extra_title %}Add Case{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr class="heading-form-rule">
            <h2 class="logo-font mb-4">Product Management</h2>
            <h5 class="text-muted">Add a Case</h5>
            <hr class="heading-form-rule">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_case' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a class="btn btn-cancel" href="{% url 'cases' %}">Cancel</a>
                    <button class="btn" type="submit">Add Case</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'wines/js/add_product.js' %}"></script>
{% endblock %}