{% extends "base.html" %}
{% load static %}

{% block extra_title %}Add Wine{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr class="heading-form-rule">
            <h2 class="mb-4">Product Management</h2>
            <h5 class="text-muted">Add a Wine</h5>
            <hr class="heading-form-rule">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_wine' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a class="btn btn-cancel" href="{% url 'wines' %}">Cancel</a>
                    <button class="btn" type="submit">Add Wine</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'wines/js/add_product.js' %}"></script>
{% endblock %}