{% extends "base.html" %}
{% load static %}

{% block extra_title %}Cases{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="">Cases</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row mt-3">
        {% for case in cases %}
        <div class="col-12 col-sm-6 col-md-4 col-xl-4 d-flex justify-content-center">
            <div class="card h-100 border-0">
                {% if case.image %}
                <a href="{% url 'case_detail' case.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}{{ case.image }}" alt="{{ case.name }}">
                </a>
                {% else %}
                <a href="{% url 'case_detail' case.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ case.name }}">
                </a>
                {% endif %}
                <div class="card-body pb-0 text-right">
                    <p class="mb-0">{{ case.category.friendly_name }}</p>
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            <p class="lead mb-0 text-right">£{{ case.price }}</p>
                            {% if request.user.is_superuser %}
                            <small class="ml-3">
                                <a class="edit-link text-right" href="{% url 'edit_case' case.id %}">Edit</a>
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}