{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="my-5">
                {% if case.image %}
                <a href="{{ MEDIA_URL }}{{ case.image }}" target="blank">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}{{ case.image }}" alt="{{ case.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ case.name }}">
                </a>
                {% endif %}
                <p class="mt-3">{{ case.category.friendly_name }}</p>
                <form class="form" action="{% url 'add_to_bag' case.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% with case.has_type as t %}
                        {% if t %}
                        <div class="col-12">
                            <p><strong>Type:</strong></p>
                            <select class="form-control rounded-0 w-50" name="case_type" id='id_case_type'>
                                <option value="wh">All White</option>
                                <option value="re">All Red</option>
                                <option value="mi" selected>Mixed</option>
                            </select>
                        </div>
                        {% endif %}
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0"
                                            data-item_id="{{ case.id }}" id="decrement-qty_{{ case.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ case.id }}" id="id_qty_{{ case.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0"
                                            data-item_id="{{ case.id }}" id="increment-qty_{{ case.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col{% if t %}-12{% endif %}">
                            <a href="{% url 'cases' %}" class="btn btn-outline-black rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% endwith %}
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="mb-5 mt-md-5">
                <p class="mb-0">{{ case.category.friendly_name }}</p>
                <p class="lead mb-0 text-left font-weight-bold">£{{ case.price }}</p>
                {% if request.user.is_superuser %}
                <div>
                    <small class="ml-3">
                        <a href="{% url 'edit_case' case.id %}">Edit</a> |
                        <button type="button" class="" data-toggle="modal" data-target="#delete_case{{case.id}}">
                            Delete Case
                        </button>
                    </small>
                </div>
                <div class="modal fade mt-5" id="delete_case{{case.id}}" tabindex="-1" role="dialog"
                    aria-labelledby="delete_case{{case.id}}Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="delete_case{{case.id}}Label">Delete Confirmation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-left">
                                <p class="mt-1">You are about to pemanantly delete this case</p>
                                <p class="mt-1">Once you have deleted it, you cannot get it back</p>
                                <p class="mt-1">Are you sure that you wish to delete?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn mr-2" data-dismiss="modal">Cancel</button>
                                <a href="{% url 'delete_case' case.id %}" class="btn modal-del-btn">Delete</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'wines/js/quantity.js' %}"></script>
    {% endblock %}