{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if case.image %}
                        <a href="" target="_blank">
                            <img class="card-img-top img-fluid" src="/media/r001.jpg" alt="{{ case.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="/media/r001.jpg" alt="{{ case.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ case.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ case.price }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}