{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="">Wines</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="country_asc" {% if current_sorting == 'country_asc' %}selected{% endif %}>Country (A-Z)</option>
                                <option value="country_desc" {% if current_sorting == 'country_desc' %}selected{% endif %}>Country (Z-A)</option>
                                <option value="region_asc" {% if current_sorting == 'region_asc' %}selected{% endif %}>Region (A-Z)</option>
                                <option value="region_desc" {% if current_sorting == 'region_desc' %}selected{% endif %}>Region (Z-A)</option>
                                <option value="winery_asc" {% if current_sorting == 'winery_asc' %}selected{% endif %}>Winery (A-Z)</option>
                                <option value="winery_desc" {% if current_sorting == 'winery_desc' %}selected{% endif %}>Winery (Z-A)</option>
                                <option value="year_asc" {% if current_sorting == 'year_asc' %}selected{% endif %}>Year (earliet to latest)</option>
                                <option value="year_desc" {% if current_sorting == 'year_desc' %}selected{% endif %}>Year (latest to earliet)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'wines' %}">All Wines</a> | </span>
                            {% endif %}
                            {{ wines|length }} Wines{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for wine in wines %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if wine.image %}
                                <a href="{% url 'wine_detail' wine.id %}">
                                    <img class="card-img-top img-fluid" src="/media/r001.jpg" alt="{{ wine.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'wine_detail' wine.id %}">
                                    <img src="/media/noimage.png" class="card-img img-fluid" alt="{{ wine.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0 text-center">{{ wine.name }}</p>
                                    <p class="mb-0">{{ wine.winery }}</p>
                                    <p class="mb-0">{{ wine.region }}</p>
                                    <p class="mb-0">{{ wine.country }}</p>     
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-right">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0">£{{ wine.price }}</p>
                                            <p class="lead mb-0">{{ wine.category.friendly_name }}</p>
                                            <p><small class="mb-0 text-muted">{{ wine.year }}</small></p>
                                            {% if wine.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ wine.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small> 
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}  
    <script src="{% static 'wines/js/sorting.js' %}"></script>
{% endblock %}
