{% extends 'base.html' %}
{% load static %}

{% block extra_title %}500 Error{% endblock %}

{% block content %}

<div class="container mx-auto">
    <h1 class="">500 Error</h1>
    <hr class="">
    <div class="row mt-3">
        <div class="col-12 col-md-6">
            <h2 class="mb-3">It's not you, it's us!</h2>
            <p class="mb-3 error-text">We're having a little moment and will be right back with you.</p>
            <p class="mb-3">If the problem persists please <a href="{% url 'contact' %}"><strong>contact us here</strong></a></p>
            <p class="mb-3">You can make your way back to us by following one of the links below!</p>
            <div>
                <a href="{% url 'home' %}" class="btn mr-2">Home</a>
                <a href="{% url 'profile' %}" class="btn mr-2">Profile</a>
                <a href="{% url 'wines' %}" class="btn">Browse</a>
            </div>           
        </div>
    </div>
</div>

{% endblock %}