{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Contact Us{% endblock %}

{% block content %}

    <div class="row justify-content-center main-container">
        <div class="col-12 col-md-10 col-xl-8 col-xxl-6 mx-auto">
            <h1 class="">Contact Us</h1>
            <hr class="">
            <div class="row">
                <div class="col-12 col-lg-5 mt-3">
                    <p class="mb-4">Whether you're a customer or a winery or seller, please fill in the form below to contact us!</p>
                    <form action="{% url 'contact' %}" method="POST">
                        
                        <button id="submit-button" class="btn">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}